#contact{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('../imgs/contact-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img {
  width: 200px;
  height: 200px;
  background: url("../imgs/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: #ffeb3b 0px 2px 20px 0px;
}

#contact i {
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: #ffeb3b;
  border-radius: 50%;
  transition: 0.5s all ease-in-out;
}

#contact i:hover{
  color: #06223f;
  background: #fff;
}

.top-info p {
  font-size: 20px;
}

.bottom-info {
  gap: 50px;
  grid-template-columns: repeat(5, 50px);
}

@media screen and (max-width: 500px) {
  .img {
    width: 150px;
    height: 150px;
  }

  #contact i {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }

  .bottom-info {
    gap: 10px;
  }
}
