main {
  grid-template-columns: repeat(4, 250px);
}

.card-div {
  width: 250px;
  height: 300px;
  border: 1px #eee solid;
  transition: 0.3s all ease-in-out;
  box-shadow: #d63384 0px 2px 4px 0px, #6f42c1 0px 2px 20px 0px,
    #d63384 0px 2px 4px 0px, #6f42c1 0px 2px 20px 0px;
}

.card-div:hover {
  transform: translateY(-20px);
}

.card-div img {
  height: 80%;
  object-fit: cover;
}

.card-div div {
  height: 20%;
}

.card-div div a {
  width: 40%;
  height: 25px;
}

.card-div div a:hover {
  filter: brightness(1.5);
}

@media screen and (max-width: 500px) {
  main {
    grid-template-columns: 200px;
  }
  .card-div {
    width: 200px;
    height: 250px;
  }
}

@media screen and (min-width: 700px) and (max-width: 1025px) {
  main {
    grid-template-columns: repeat(3, 200px);
  }
  .card-div {
    width: 200px;
    height: 250px;
  }
}
