.skills {
  grid-template-columns: repeat(4, 200px);
}

#skills span {
  width: 200px;
  font-size: 20px;
  box-shadow: #d63384 0px 2px 4px 0px, #6f42c1 0px 2px 20px 0px,
    #d63384 0px 2px 4px 0px, #6f42c1 0px 2px 20px 0px;
}

@media screen and (max-width: 500px) {
  .skills {
    grid-template-columns: 200px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .skills {
    grid-template-columns: repeat(3, 200px);
  }
}
